volumes:
  data:


services:
  preprocess:
    build:
      dockerfile: Dockerfile.pre
    container_name: preprocess
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
    volumes:
      - data:/data
    command: >
      sh -c "mkdir -p ${INPUTS_DIR} ${RESULTS_DIR} ${LOGS_DIR} && cp -r ./cases/${CASE}/inputs/* ${INPUTS_DIR} && cp -r ./cases/${CASE}/results ${RESULTS_DIR} && cp -r ./cases/${CASE}/logs ${LOGS_DIR}"

  mfl2d:
    build:
      dockerfile: Dockerfile.mfl2d
    container_name: mfl2d
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
    command: ./mfl2d ${CASE}
    volumes:
      - data:/data

  postprocess:
    build:
      dockerfile: Dockerfile.post
    container_name: postprocess
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
    command: sleep infinity
    # command: python ./postprocess/src/PlotEnergiaCinetica.py ${CASE}
    volumes:
      - data:/data
