volumes:
  data:


services:
  preprocess:
    build:
      dockerfile: Dockerfile.pre
    container_name: preprocess
    env_file:
      - .env
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
    volumes:
      - data:/data
    command: >
      sh -c "mkdir -p ${INPUTS_DIR} ${RESULTS_DIR} ${LOGS_DIR} && cp -r ./cases/${CASE}/inputs/* ${INPUTS_DIR} && cp -r ./cases/${CASE}/results ${RESULTS_DIR} && cp -r ./cases/${CASE}/logs ${LOGS_DIR}"

  mfl2d:
    build:
      dockerfile: Dockerfile.mfl2d
    container_name: mfl2d
    env_file:
      - .env
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
      OMP_NUM_THREADS: ${OMP_NUM_THREADS}
      OMP_PROC_BIND: ${OMP_PROC_BIND}
      OMP_PLACES: ${OMP_PLACES}
    volumes:
      - data:/data
    command: ./mfl2d ${CASE}
    deploy:
      resources:
        limits:
          cpus: "8.0"

  postprocess:
    build:
      dockerfile: Dockerfile.post
    container_name: postprocess
    env_file:
      - .env
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
    command: sleep infinity
    # command: python ./postprocess/src/PlotEnergiaCinetica.py ${CASE}
    volumes:
      - data:/data
