volumes:
  data:

services:
  preprocess:
    build:
      dockerfile: Dockerfile.pre
    container_name: preprocess-${CASE}
    env_file:
      - .env
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
      MAKE_GRID: ${MAKE_GRID}
      GRID_NAME: ${GRID_NAME}
      GRID_TYPE: ${GRID_TYPE}
      GRID_X0: ${GRID_X0}
      GRID_XN: ${GRID_XN}
      DX: ${DX}
      GRID_Y0: ${GRID_Y0}
      GRID_YN: ${GRID_YN}
      DY: ${DY}
      DY0: ${DY0}
      DYN: ${DYN}
      Y_LOG_END: ${Y_LOG_END}
      Y_LIN1_END: ${Y_LIN1_END}
      DY_LOG_END: ${DY_LOG_END}
      DY_LIN1_END: ${DY_LIN1_END}
    volumes:
      - data:/data
    command: >
      sh -c "  rm -rf ${LOGS_DIR} ${RESULTS_DIR} && mkdir -p ${INPUTS_DIR} ${RESULTS_DIR} ${LOGS_DIR} &&  cp -r ./cases/${CASE}/inputs/* ${INPUTS_DIR} &&  
      if [ '${MAKE_GRID}' = 'true' ]; then
          ./makeGrid.exe;
      fi"

  mfl2d:
    build:
      dockerfile: Dockerfile.mfl2d
    container_name: mfl2d-${CASE}
    env_file:
      - .env
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
      OMP_NUM_THREADS: ${OMP_NUM_THREADS}
      OMP_PROC_BIND: ${OMP_PROC_BIND}
      OMP_PLACES: ${OMP_PLACES}
    volumes:
      - data:/data
    command: ./mfl2d ${CASE}
    deploy:
      resources:
        limits:
          cpus: "8.0"

  postprocess:
    build:
      dockerfile: Dockerfile.post
    container_name: postprocess
    env_file:
      - .env
    environment:
      CASE: ${CASE}
      INPUTS_DIR: ${INPUTS_DIR}
      RESULTS_DIR: ${RESULTS_DIR}
      LOGS_DIR: ${LOGS_DIR}
    command: sleep infinity
    # command: python ./postprocess/src/PlotEnergiaCinetica.py ${CASE}
    volumes:
      - data:/data
